<template lang="pug">
	div
		h1
			| Browser info
		p
			| OS: {{ osName }} v{{ osVersion }}
			br
			| Browser: {{ browserName }} v{{ browserVersion }}
			br
			| Engine: {{ engineName }} v{{ engineVersion }}
		p
			md-button.md-raised.md-primary( @click.native='log' )
				| Log raw data
			br
			div( v-for="line in rawData" ) {{ line }}
</template>

<script>
import detector from 'detector';
export default {
	name: 'BrowserInfo',
	data: () => {
		let browserName = detector.browser.name;
		let osName = detector.os.name;
		let engineName = detector.engine.name;
		switch (browserName) {
			case 'chrome':
				browserName = 'Chrome';
				break;
			case 'firefox':
				browserName = 'Firefox';
				break;
			case 'edge':
				browserName = 'Edge';
				break;
			case 'opera':
				browserName = 'Opera';
				break;
			case 'ie':
				browserName = 'Internet Explorer';
				break;
			case 'android':
				browserName = 'Android Browser';
				break;
			case 'crios':
				browserName = 'Chrome on iOS';
				break;
			case 'ios':
				browserName = 'iOS Browser';
				break;
			case 'safari':
				browserName = 'Safari';
				break;
		}

		switch (osName) {
			case 'android':
				osName = 'Android';
				break;
			case 'windows':
				osName = 'Windows';
				break;
			case 'linux':
				osName = 'Linux';
				break;
			case 'macos':
				osName = 'macOS';
				break;
			case 'osx':
				osName = 'OSX';
				break;
			case 'ios':
				osName = 'iOS';
				break;
		}

		switch (engineName) {
			case 'blink':
				engineName = 'Blink';
				break;
			case 'webkit':
				engineName = 'Webkit';
				break;
			case 'trident':
				engineName = 'Trident';
				break;
			case 'edgehtml':
				engineName = 'EdgeHTML';
				break;
			case 'gecko':
				engineName = 'Gecko';
				break;
			case 'servo':
				engineName = 'Servo';
				break;
			case 'khtml':
				engineName = 'KHTML';
				break;
		}

		return {
			osName: osName,
			osVersion: detector.os.fullVersion,
			browserName,
			browserVersion: detector.browser.fullVersion,
			engineName,
			engineVersion: detector.engine.fullVersion,
			rawData: []
		};
	},
	methods: {
		log () {
			this.rawData.push(navigator.appVersion);
			this.rawData.push(navigator.userAgent);
			this.rawData.push(detector.device.name + ' - ' + detector.device.fullVersion);
			this.rawData.push(detector.os.name + ' - ' + detector.os.fullVersion);
			this.rawData.push(detector.browser.name + ' - ' + detector.browser.fullVersion);
			this.rawData.push(detector.engine.name + ' - ' + detector.engine.fullVersion);
		}
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
