<template lang="pug">
	div
		h1
			| Device info
		p
			| Should detect different things from many mobile devices
			br
			br
			| Ambient light level: {{ light_level }} from {{ light_sensor }} (Still rough?)
			br
			| Screen orientation: {{ screen_orientation }}
			br
			| WIP...
</template>

<script>
/* global AmbientLightSensor, screen */
export default {
	name: 'DeviceInfo',
	mounted: () => {
		/* -----------------
		/* Ambient Light init
		/**/
		if ('AmbientLightSensor' in window) {
			try {
				var sensor = new AmbientLightSensor();
				sensor.addEventListener('reading', function (event) {
					this.light_level = event.value;
					this.light_sensor = 'AmbientLightSensor()';
				});
				sensor.start();
			} catch (e) {
				console.error(e);
			}
		}

		if ('ondevicelight' in window) {
			window.addEventListener('devicelight', function (event) {
				this.light_level = event.value;
				this.light_sensor = 'devicelight Event';
			});
		}
		/* -----------------
		/* Orientation api init
		/**/
		window.addEventListener('orientationchange', function () {
			this.screen_orientation = screen.orientation;
		});
	},
	data: () => {
		console.log(screen);
		return {
			light_level: 0,
			light_sensor: 'nothing',
			screen_orientation: { angle: screen.orientation.angle, type: screen.orientation.type }
		};
	},
	methods: {
		log () {

		}
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
