<template lang="pug">
	div
		h1
			| Notifications
		p
			| Web notifications are crossplatform and intergrates with native notification systems on a clients OS.
		md-button.md-raised.md-primary( @click.native='notify(false)' )
			| Quick Notify

		p
			| Below you can enter a title and a body message for a custom notification.
		md-input-container
			label Title on notification:
			md-input( v-model='title' type='text' placeholder='Title')

		md-input-container
			label Message on notification:
			md-textarea( v-model='message' type='text' placeholder='Message')

		br
		md-button.md-raised.md-primary( @click.native='notify(true)' )
			| Notify
</template>

<script>
/* global Notification navigator */

export default {
	name: 'Notifications',
	data: () => {
		return {
			title: null,
			message: null
		};
	},
	methods: {
		notify (custom) {
			const notificationData = {
				title: custom ? this.title : 'Hello from Hjort.xyz',
				options: {
					body: custom ? this.message : 'With help from MDN!',
					icon: './static/favicon.ico',
					badge: './static/favicon.ico',
					tag: 'I have a tag?',
					data: window.location.href,
					vibrate: [100, 200, 100]
				}
			};

			Notification.requestPermission(function (result) {
				if (result === 'granted') {
					Notification.onclick = function (event) { console.log(event); };
					navigator.serviceWorker.ready.then(function (serviceWorkerRegistration) {
						serviceWorkerRegistration.showNotification(notificationData.title, notificationData.options);
					}
				);
				}
			});
		}
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
